<div class="jumbotron">
  <h1>Welcome to the Portal</h1>
  <h2>This is the Portal for Grate Meetups!</h2>
  <% unless signed_in? %>
    <%= link_to "Sign up!", '/signup', class: "btn btn-lg btn-primary"%>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-7">
    <p>Latest Meetups</p>
    <hr/>
    <% if @meetups.to_a.empty? %>
      No meetups.
    <% else %>
      <% @meetups.each do |meetup| %>
        <%= render 'meetups/short_meetup', meetup: meetup%>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-5">
    <p>Latest Posts</p>
    <hr/>
    <% if @microposts.to_a.empty? %>
      No posts.
    <% else %>
      <% @microposts.each do |micropost| %>
       <%= render 'microposts/micropost', micropost: micropost%>
      <% end %>
    <% end %>
  </div>
</div>
