<div class="row">
  <div class="col-lg-4">
    <h2>
      <%= link_to @user.name, @user %>
    </h2>
    <div><%= @user.email %></div>
    <% if @micropost %>
      <hr/>
      <%= render 'shared/micropost_form' %>
    <% end %>
  </div>

  <div class="col-lg-8">
    <h2>Attend Meetups</h2>
    <% if @user.attend_meetups %>
      <% @user.attend_meetups.each do |meetup| %>
        <%= render 'meetups/short_meetup', meetup: meetup %>
      <% end %>
    <% else %>
      <div>No meetups.</div>
    <% end %>
  </div>
</div>
