@import "bootstrap";

/* mixings, variables, etc. */

@mixin box_sizing {
  -moz-box-sizeing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html{
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.fill-width {
  width: 100%;
}

/* typegraphy */

h1, h2, h3, h4, h5, h6{
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, label, .uneditable-input {
  display: block;
  @include box_sizing;
}

input, textarea, select, .uneditable-input {
  margin-bottom: 15px;
}

input, textarea, .uneditable-input {
  padding: 10px;
}

input {
  height: auto !important;
}

/* header */

/* error message */
#error_explanation {
  color: #ff0000;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* microposts */

.micropost {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .content {
    display: block;
    width: 100%;
  }
}
